%html
  %head
    %title Woah.
  %body
    %h2 Wait a minute... 
    %p You'll need to log in before you can continue. Use your OpenID.
    %p (You can use a Google account to log in. Put https://www.google.com/accounts/o8/id in the box below.)
    - if(flash['error'])
      .error= flash('error')
    %form{:action => '', :method => 'POST'}
      %input{:type => 'text', :name => 'openid_identifier'}
      %input{:type => 'submit', :value => 'Log in'}

      