/* General Styles */
* {
	font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode'; 
	font-weight: 100;
}
html {
	background: #252525;
}
body {
	letter-spacing: -1px; 
	margin: 0; 
	padding: 0;
}
h1 {
	color: #575555; 
	font-size: 25px; 
	font-weight: normal; 
	letter-spacing: -1px; 
	margin: 0; 
	margin-top:20px;
}
h2 {
	color: #999999;
	font-size: 23px; 
	font-weight: normal; 
	letter-spacing: -1px; 
	margin: 0;
}
strong {
	font-weight: bold;
}
button.link_button {
	border: none;
	float: left;
	font-size: inherit;
	height: 30px;
}
form.mini {
	float: left;
	font-size: inherit;
}
#header {
	background: #575555; 
	height: 57px; 
	padding: 2px 0; 
	width: 100%;
}
#subheader {
	background: #999999; 
	height: 41px; 
	line-height: 4px; 
	width: 100%;
}
#subheader h1 {
	clear: both;
	color: #FFFFFF;
	float: left; 
	font-size: 25px; 
	margin-top: -5px;
	padding: 0 43px; 
	width: 200px;
}
#header div.tab-container {
	
}
#header a.tab {
	background: #797777;
	border-radius-top-led: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	color: #FFFFFF;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 8px 11px 4px;	
	position: relative;	
	text-decoration: none;
	top: 27px;
}
body#home a#home-tab,
body#sitemap a#sitemap-tab, 
body#events a#events-tab,
body#news a#news-tab,
body#blog a#blog-tab
{
	background: #999999;
	z-index: 0;
}
#page-content {
	margin: 0 auto;
	padding: 0 43px;
}
br.clearfix { 
	clear:both;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
.float-left {
	float: left;
}
input.rounded-textbox {
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 13px;
	padding: 4px;
	text-align: center;
	width: 90px;
}
.orange-text {
	color: #ff7300;
}
.medium-x {
	font-size: 13px;
}
.center-block {
	display: block;
	text-align: center;
	width:100%; 
}
.negative-6-left {
	margin-left: -6px;
}
img.subhead-icon { 
	margin-right: 10px;
	margin-top: 10px;
}
div#user-status { 
	border-left: 1px solid #888686;
	color: #FFFFFF; 
	float: right; 
	height: 24px; 
	margin-top: 0; 
	padding: 32px 12px 0; 
	width: 263px;}
div#current-site-header { 
	color: #FFFFFF;
	float: left; 
	font-size: 17px; 
	letter-spacing: 0; 
	line-height: 22px; 
	padding: 10px 43px; 
}
#footer {
	background: #575555;
	bottom: 0;
	color: #999999;
	font-size: 13px;
	height: 41px; 
	line-height: 41px;
	position: absolute;
	text-align: center;
	width: 100%;
}

/* Login Styles */
#login-box {
	background: #efefef;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 226px;
	margin: 140px auto;
	padding:15px;
	width: 176px;
}
#login label {
	color: #575555;
	font-size: 18px;
}
#login a.center-block img {
	padding-top: 5px;
}
#login input[type='text'], 
#login input[type='password'] {
	border: 1px solid #bbbbbb;
	font-size: 20px;
	margin: 5px 0px 11px;
	padding: 5px; width: 163px;
}
#login #login-submit {
	background: url(/assets/public/images/orange-button.png) no-repeat 0 0; 
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	height: 23px;
	margin: 3px 33px;
	padding: 8px 0;
	text-align:center; 
	width: 110px;
}
	#login #login-submit:hover{
		background: url(/assets/public/images/orange-button.png) no-repeat 0 -39px; 
		padding: 10px 0 6px 0;
	}

/* Dashboard Styles */
#dashboard-create, 
#dashboard-edit {
	margin: 0 auto;
	width: 362px; 
}
	#dashboard-create h1, 
	#dashboard-edit h1 {
		color: #999999; 
		padding-bottom: 20px;
	}
ul.big-icon-list {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
	ul.big-icon-list li { 
		display:block; 
		float:left; 
		padding-right: 25px; 
		text-align: center; 
		width:90px;
	}
		ul.big-icon-list li a { 
			color: #575555;
			text-decoration: none; 
		}

/* Edit Styles*/
div#box-container {
	margin: 0 auto;
	width: 775px;
	z-index: 1;
}
	div#edit-box { 
		background: #f1f1f1;
		border: 1px solid #d7d7d7;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		color: #575555;
		float: left;
		font-size: 18px;
		margin: 10px auto;
		padding: 12px;
		padding-bottom: 20px;
		position: relative;
		width: 400px;
		z-index: 1;
	}
		#edit input[type='text'] {
			border: 1px solid #bbbbbb;
			font-size: 20px;
			margin: 5px 0px 11px;
			padding: 5px; width: 347px;
		}
		#button-container {
			margin-top: 6px;
			text-align: center;
			width: 400px;
		}
			#edit #save-draft {
				background: url(/assets/public/images/grey-button.png) no-repeat 0 0;
				color: #575555;
				font-size: 18px;
				height: 39px;
				padding: 3px 0;
				text-align:center; 
				width: 110px;
				border: none;
			}
				#edit #save-draft:hover {
					background: url(/assets/public/images/grey-button.png) no-repeat 0 -39px;
				}
			#edit #publish {
				background: url(/assets/public/images/green-button.png) no-repeat 0 0; 
				color: #FFFFFF;
				font-size: 18px;
				height: 39px;
				padding: 2px 0 2px;
				text-align:center; 
				width: 110px;
				border: none;
			}
				#edit #publish:hover {
					background: url(/assets/public/images/green-button.png) no-repeat 0 -39px;
					padding: 2px 0 -1px;
				}
		#save-status {
			font-size: 13px;
			padding: 5px 0;
			text-align: center;
		}
	div#popout-box { 
		background: #f1f1f1 url(/assets/public/images/popout-shadow.png) repeat-y top left;
		border: 1px solid #d7d7d7;
		border-radius-top-right: 4px;
		border-radius-bottom-right: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		color: #575555;
		float: left;
		font-size: 18px;
		margin: 28px -1px;
		padding: 12px;
		position: relative;
		width: 250px;
		z-index: 0;
	}
		div#popout-titlebar {
			border-bottom: 1px solid #d7d7d7;
			height: 25px;
			width: 100%;
			margin-bottom: 5px;
		}
			div#popout-collapse {
				float: right;
			}
		div.slider-container {
			font-size: 14px;
			margin: 5px 0 12px;
			width: 154px;
		}
		div.main-slider-container * {
			font-weight: bold;
		}
			div.slider {
				background: #ffffff;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				cursor: move;
				letter-spacing: 0;
				padding: 5px;
				width: 74px;
				text-align: center;
			}
			div.slider-off {
				background: #ffffff;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				cursor: move;
				left: 70px;
				letter-spacing: 0;
				padding: 5px;
				position: relative;
				width: 74px;
				text-align: center;
			}
			div.slider-background {
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				cursor: pointer;
			}
			div.slider-background-general-custom {
				background: #d7d7d7 url(/assets/public/images/slider-bg-gen-cust.png);
			}
			div.slider-background-now-later {
				background: #d7d7d7 url(/assets/public/images/slider-bg-now-later.png);
			}
			div.slider-background-yes-no {
				background: #d7d7d7 url(/assets/public/images/slider-bg-yes-no.png);
			}
			div.slider-background-public-private {
				background: #d7d7d7 url(/assets/public/images/slider-bg-pub-priv.png);
			}
			div.slider-background-enabled-disabled {
				background: #d7d7d7 url(/assets/public/images/slider-bg-enabled-disabled.png);
			}
		div.page-settings-container-current {
			width: 1000px;
		}
		div#page-settings-container-1, div#page-settings-container-2 {
			float:left;
			margin-right: 27px;
		}
		div.page-settings-container {
			width: 250px;
			overflow: hidden;
		}
		hr.one-px-grey {
			background-color: #d7d7d7;
			border: 0 none;
			color: #d7d7d7;
			height: 1px;
		}
		div.control-label {
			font-size: 14px;
			width: 249px;
		}
			div#page-summary-textarea, div#page-keywords-textarea {
				background: #d7d7d7;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				margin: 7px 0;
				padding: 2px 7px;
			}
			div#page-summary textarea, div#page-keywords textarea {
				height: 100px;
				margin: 5px 0 5px;
				width: 233px;
			}
		div.settings-collapse {
			float: right;
		}
		div#start-publish-date{
			display: none;
		}
	a.pmt-img {
		display: block;
		float: left	;
		margin: 2px;
		outline: none;
		padding: 3px 3px 0;
	}
	a.pmt-img-selected {
		background: #d7d7d7;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
/* Page List CSS */
	body#sitemap div#box-container {
		width: 1020px;
	}
	div#pages-list, div.list-view {
		background: #f1f1f1;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		color: #575555;
		font-size: 14px;
		margin: 10px 0;
		padding: 10px;
		width: 1000px;
	}
	div#pages-list div.list-header-group, div.list-view div.list-header-group 
	{
		border-bottom: 1px solid #d7d7d7;
		height: 100%;
		position: relative;
	}
	div#pages-list div.list-header, div.list-view div.list-header 
	{
		color:#575555;
		float: left;
		font-size:18px;
		padding-bottom: 5px;
		width: 23%;
	}
	div.page-listing-child {
		background-position: 46px 0;
		display: none;
	}
	div.page-listing-item {
		border-bottom: 1px solid #d7d7d7;
		padding: 8px;
	}
		div.page-listing-page {
			background: url(/assets/public/images/page-listing-page.png) no-repeat 8px 0px;
		}
		div.page-listing-blog {
			background: url(/assets/public/images/page-listing-blog.png) no-repeat 8px 0px;
		}
		div.page-listing-event {
			background: url(/assets/public/images/page-listing-event.png) no-repeat 8px 0px;
		}
		div.page-listing-cell {
			float: left;
			line-height: 30px;
			min-width: 18	%;
		}
			div.move-controls {
				background: #f1f1f1;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				display: none;
				height: 30px;
				margin-bottom: -5px;
				margin-left: -130px;
				min-width: 125px;
				overflow: hidden;
				padding-top: 5px;
				padding-left: 5px;
			}
				form.move-arrow {
					display: inline;
				}
			div.page-listing-expand {
				width: 23px;
				float: left;
			}
				a.expand {
					outline: none;
				}
			div#pages-list div#page-listing-expand-collapse {
					width: 35px;
				}
			div.page-listing-title {
				cursor: default;
				padding-left: 38px;
				min-width: 400px;
			}
			div.page-listing-title a,
			div.page-listing-title a:link,
			div.page-listing-title a:visited,
			div.page-listing-title a:hover,
			div.page-listing-child-title a,
			div.page-listing-child-title a:link,
			div.page-listing-child-title a:visited,
			div.page-listing-child-title a:hover
			{
				color: #575555;
			}
			div.page-listing-child div.page-listing-title {
				cursor: default;
				font-weight: bold;
				margin-left: 26px;
				padding-left: 38px;
				width: 374px;
			}
			div.page-listing-excerpt {
				background: #FFFFFF;
				border: 1px solid #d7d7d7;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				display: none;
				float: left;
				font-size: 13px;
				line-height: 16px;
				margin: 5px 5px 0 35px;
				padding: 5px;
				position: absolute;
				width: 300px;
			}
			div.page-status {
				width: 200px;
			}
			div.page-listing-location {
				min-width: 100px;
				padding: 0 5px;
			}
			div.page-listing-actions {
				width: 297px;
			}
			div.page-listing-extras {
				display: none;
				float: left;
				margin: 5px 0 5px 35px;
				padding: 5px;
			}
			a.white-button,
			a.white-button:link,
			a.white-button:hover,
			a.white-button:visited
			{
				background: #ffffff;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				color: #575555;
				float: left;
				font-weight: bold;
				margin: 0 2px;
				padding: 0 5px;
				text-decoration:none;
			}
			.grey-button,
			.grey-button:link,
			.grey-button:hover,
			.grey-button:visited
			{
				background: #d7d7d7;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				color: #575555;
				float: left;
				margin: 0 2px;
				padding: 0 5px;
				text-decoration:none;
			}
			a.move-button,
			a.move-button:link,
			a.move-button:hover,
			a.move-button:visited
			{
			}
			.delete-button,
			.delete-button:link,
			.delete-button:hover,
			.delete-button:visited
			{
				background: #c40000;
				color: #ffffff;
			}
			div.status-published {
				background: #7cc500;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				color: #ffffff;
				float: left;
				padding: 0 5px;
			}
			a.green-link,
			a.green-link:link,
			a.green-link:visited,
			a.green-link:hover
			{
				color: #7CC500;
			}
			a.publish-this {
				outline: none;
			}
			div.status-draft {
				background: #999999;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				color: #FFFFFF;
				cursor: pointer;
				float: left;
				margin-right: 5px;
				padding: 0 5px;
			}
			span.last-uri-segment {
				font-weight: bold;
			}