%form{:action => "#{packet.route_to(model_name, 'new')}", :method => 'post', :enctype=>"multipart/form-data"}
  - for prop in props
    - next if [:path, :secondary_path].include?(prop[:name])
    %p= view_attribute(prop, model_name, :label => true)
  %p
    %label File
    %br
    %input{:type => 'file', :name => "#{model_name}[file]"}
  %p
    %label Secondary File
    %br
    %input{:type => 'file', :name => "#{model_name}[file2]"}
  %input{:type => 'submit', :value => 'Save New Item'}