- packet.add_js("page-list-effects.js")
- packet["page.title"] = "Pages"
%div#pages-list
  %div.list-header-group
    %div.list-header#page-listing-expand-collapse
      &nbsp;
    %div.list-header{:style => "padding-left: 8px; width: 425px"} 
      Page Title
    %div.list-header{:style => "width: 200px"} 
      Status
    %div.list-header{:style => "width: 300px"}
      Actions
    %br.clearfix
  %ul.pages.no-bullet
    - for page in list
      %li
        %div.page-listing-item{:class => (page.level > 1 ? "page-listing-child" : "")}
          = view_table_row(model_name, :model => page)