%div.page-listing-expand
  &nbsp;
%div.page-listing-cell
  %div.page-listing-title.page-listing-page
    %a{:href => "#"}
      %strong
        = model.link_text
    &nbsp;
    %a.page-listing-more-info{:href => "#"}
      Extras...
%div.page-listing-cell
  %div.page-status
    &nbsp;
%div.page-listing-cell
  %div.page-listing-actions
    %a.grey-button.preview-button{:href => "#"}
      Preview
    %a.grey-button.delete-button{:href => "#"}
      Delete
%div.page-listing-cell{:style => "clear: both"}
%div.page-listing-extras
  %div.page-listing-cell
    %div.page-listing-location.float-left
      Current Location:&nbsp; 
      %span.last-uri-segment><
        = model.full_path
    %a.grey-button.move-button{:href => "#"}
      Move
%div.page-listing-extras
  %div.page-listing-cell
    %div.float-left
      Show in Menu:&nbsp;
    %div.page-listing-show-in-menu.float-left
      %a{:href => "#", :class => model.show_in_nav ? "white-button" : "grey-button"}
        Yes
    %div.page-listing-hide-from-menu.float-left
      %a{:href => "#", :class => !model.show_in_nav ? "white-button" : "grey-button"}
        No
%br.clearfix