- if model
  %p
    - for a in model.ancestors
      %a{:href => a.full_path}= a.link_text
      &gt;
    %span.here= model.link_text
- else # Possibly a restful route
  %p
    - home = orange[:sitemap].home(packet)
    %a{:href => home.full_path}= home.link_text
    &gt;
    %span.here= packet['route.resource'].to_s.capitalize