- packet.add_js("page-list-effects.js")
%div.list-view{:id => model_name.to_s + "-list"}
  %div.list-header-group
    - for prop in props
      %div.list-header{:style => "padding-left: 8px; width: "+(100/(props.size+1)).to_s+"%"}= prop[:name].to_s.capitalize
    %br.clearfix
  %ul.pages.no-bullet
    - for obj in list
      %li
        %div.page-listing-item
          = view_table_row(model_name, :model => obj)
  %div.page-listing-item  
    %a.grey-button{:href => route_to(model_name, 'create')} Add New
    %br.clearfix