:javascript
  $(function(){ 
    $('#donate_form').validate();
  });
%p
  - if(flash['error'])
    .error= flash('error')
  %form{ :class => 'donate_form', :id => 'donate_form', :action => route_to(:donations, :process), :method => 'POST' }
    %label{ :for => 'donor_name'} Your Name
    %input{ :type => 'text', :minlength => '4', :maxlength => '80', :id => 'donor_name', :name => 'donor_name', :class => 'required' }
    %div.donor_phone
      %label{ :for => 'donor_phone'} Your Phone
      %input{ :type => 'text', :minlength => '4', :maxlength => '80', :id => 'donor_phone', :name => 'donor_phone', :value => '' }
    %label{ :for => 'donor_company'} Your Company
    %input{ :type => 'text', :minlength => '4', :maxlength => '180', :id => 'donor_company', :name => 'donor_company', :value => '' }
    %label{ :for => 'donor_email'} Your E-mail
    %input{ :type => 'text', :class => 'email', :id => 'donor_email', :name => 'donor_email' }
    %label{ :for => 'donation_amount'} Donation Amount: $
    %input{ :type => 'text', :class => 'donation_amount', :id => 'donation_amount', :name => 'donation_amount' }
    %input{ :type => 'submit', :value => 'Submit' }
    %input{ :type => 'hidden', :id => 'r', :name => 'r', :value => packet['route.return_path'] }