%h3 Redirecting to PayPal...
%form{ :id => 'pform', :name => '_xclick', :action => 'https://www.paypal.com/cgi-bin/webscr', :method => "post" }
  %input{ :type => 'hidden', :name => 'cmd', :value => "_donations" }
  %input{ :type => 'hidden', :name => 'business', :value => paypal_id }
  %input{ :type => 'hidden', :name => 'item_name', :value => "WNSF Donation" }
  %input{ :type => 'hidden', :name => 'currency_code', :value => "USD" }
  %input{ :type => 'hidden', :name => 'amount', :value => donation_amount }
  %input{ :type => 'hidden', :name => 'return', :value => 'http://'+packet['route.site_url'] + route_to(:donations, :donate_success) }
  %input{ :type => 'hidden', :name => 'cancel_return', :value => 'http://'+packet['route.site_url'] + route_to(:donations, :donate_cancel)}
:javascript
  $(function(){
    $('#pform').submit();
  })