- packet["page.title"] = "Pages > Edit"
- packet.add_js("popout-effects-generic.js")
- packet.add_js("popout-effects-page-edit.js")
%div#edit-box
  %form#edit
    %input{:type => "hidden", :value => model.id, :id => "page-id"}
    %label{:for => "edit-title"} Title
    %input#edit-title{:type => "text", :name => "edit-title", :value => model.title}
    %textarea#edit-content{:cols => "32", :rows => "20"}
      = model.body
    %div#save-status
      Draft autosaved successfully at 5:19PM
    %div#button-container
      %input#save-draft{:type => "button", :name => "login-submit", :value => "Save Draft"}
      %input#publish{:type => "button", :name => "login-submit", :value => "Publish"}
%div#popout-box
  %div#popout-titlebar
    Settings
    %div#popout-collapse
      %a#collapse{:href => "#"}
        %img{:src => "/assets/public/images/collapse-left.png", :border => "0"}
  %div.slider-container.main-slider-container
    %div.slider-background.slider-background-general-custom
      %div.slider
        General
  %div.page-settings-container
    %div.page-settings-container-current
      %div#page-settings-container-1
        %div#publish-when.control-label
          Publish
          %div.slider-container
            %div.slider-background.slider-background-now-later
              %div.slider
                Now
          %div#start-publish-date
            &nbsp;&nbsp;Date:
            %input#start-publish.rounded-textbox{:type => "text", :name => "start-publish"}
        %hr.one-px-grey
        %div#show-in-menu.control-label
          - unless routes.empty?
            Show in Menu
            %div.slider-container
              %div.slider-background.slider-background-yes-no
                - if routes.first.show_in_nav
                  %div.slider
                    Yes
                - else
                  %div.slider-off
                    No
          - else
            %a.grey-button Add to Menu
          %hr.one-px-grey
      %div#page-settings-container-2
        %div#page-summary.control-label
          Page Summary (optional)
          %div.settings-collapse
            %a.collapse-up{:href => "#"}
              %img{:src => "/assets/public/images/collapse-up.png", :border => "0"}
          %br
          %div#page-summary-textarea.settings-area
            %textarea#edit-page-summary.autosize
        %hr.one-px-grey
        %div#page-keywords.control-label
          Page Keywords (optional)
          %div.settings-collapse
            %a.collapse-up{:href => "#"}
              %img{:src => "/assets/public/images/collapse-up.png", :border => "0"}
          %br
          %div#page-keywords-textarea.settings-area
            %textarea#edit-page-keywords.autosize
        %hr.one-px-grey