/* @override http://localhost:4321/assets/css/admin.css */

* {margin:0;padding:0;}
body{
	background-color: #4b4b4b;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#body{
	width: 100%;
}

.header{
	color: white;
	font-size: small;
	font-weight: bold;
	padding: 5px;
}

.container{
	display: table;	
	table-layout: fixed;
	width: 100%;
}

#inner-body{
	display: table-row;
	width: 100%;
}

.main{
	display: table-cell;
	vertical-align:top;
	background-color: white;
	padding: 30px;
	width: 80%;
}


.sidebar{
	padding-top: 20px;
	display: table-cell;
	vertical-align:top;
	background-color: #d1d7e5;
	width: 20%;
}


.sidebar_section h3{
	font-size: small;
	color: #4b4b4b;
	margin-left: 15px;
}
.sidebar_section ul{
	margin: 0;
	padding: 0;
	font-size: small;
	list-style: none;
}
.sidebar_section ul a{
	color: #000;
	text-decoration: none;
	margin-left: 25px;
}
.sidebar_section ul li{
	padding: 5px;
}
.sidebar_section ul li:hover{
	background-color: #828db0;
}

.sidebar_section ul a:hover{
	text-decoration: underline;
}

.footer{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: x-small;
}