!!! xml
!!!
%html
  %head
    %title= part[:title, 'Orange Site'] 
    = part[:css]
    - packet.add_js('jquery.validate.pack.js', :module => '_contactforms_')
    G= part[:js]
  %body
    .container
      #header
        %h1 Demo Orange Site
        #nav= orange[:sitemap].two_level(packet)
      #inner-body
        %o:latest_news
        = yield
      %hr
      .footer
        %p
          This site is running on Orange. 
          %a{:href => route_to('pages', :context => 'admin')} Admin?
        %o:testimonials
        %o:adverts
        %o:calendar