.disqus_comments
  - if packet['orange.globals'][:development_mode]
    %script{:type => 'text/javascript'} var disqus_developer = 1;
  #disqus_thread
  %script{:type => 'text/javascript', :src => 'http://disqus.com/forums/orangesparkleball/embed.js'}
  %noscript
    %a{:href => 'http://disqus.com/forums/orangesparkleball/?url=ref'} View the discussion thread