- if list.empty?
  .sitemap_links_info.notice
    %p
      This resource is not in the sitemap.
      %a{:href => add_route_link + '/' + slug_me} Add one?
- else
  .sitemap_links_info.success
    %h4 Current Route: #{list.first.full_path} #{list.size > 1 ? '(and ' + (list.size - 1).to_s + ' others)' : ''}
    %a{:href=>'#'} More Info
    .sitemap_links{:style => 'display:none'}
      - for obj in list
        .sitemap_link
          %span Path: #{obj.full_path}
      %a{:href => add_route_link + '/' + slug_me} Add another?