%ul.nav
  %li.first
    %a{:href => model.full_path} Home
  - for item in model.descendants
    %li
      %a{:href => item.full_path}= item.link_text
      - unless item.descendants.empty?
        %ul.subnav
          - for x in item.descendants
            %li
              %a{:href => x.full_path}= x.link_text